body {
    font-family: 'Helvetica';
    padding-top: 6rem;
}

h1 {
    font-size: 2.5rem;
}

h1, h2, h3, h4, h5
 {
  font-family: Copperplate, Papyrus, fantasy;
}

section {
   width: 100%;
}

section div.type-wrapper {
    margin: 0 auto;
    max-width: 600px;
    width: 85%;
}

div.rule {
    width: 85%;
    max-width: 600px;
    margin: 0 auto;
    height: 5px;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px dotted gray;
}

p {
    font-size: 1.25rem;
}

ul li {
    font-size: 1.25rem;
}

ul {
    margin-bottom: 1rem;
}
ul li:nth-child(3), 
h2 {
  border: 4px dotted blue;
}
h1, h2, h3, h4 {border-color: coral;}


div.bg-color {
    background-color: yellow; 
}

div.bg-color.padding {
    padding: 2em; 
}

div.bg-color.amrgin {
    margin: 2em; 
}

{
 background-image: url("paper.gif");
 background-color: #cccccc;
}

img.inline{
    width: 100%; 
}